streamlit
torch
torchvision
transformers
accelerate
peft
datasets
huggingface_hub

rasterio
numpy
pandas
opencv-python
Pillow
matplotlib

geopandas
shapely
pyproj

requests
python-dotenv

qwen-vl-utils